/*codigo de la calculadora*/
  #tarea {
  width: 360px;
  height: 290px;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 
}

#appBg {
width: 440px;
height: 640px;
background-color: #000000;
padding: 20px;
border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


input[type="numberfield"] {
  width: 300px;
  height: 250px;
  color: #11ff00;
  background-color: #22222291;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="button"] {
  width: 21%;
  padding: 10px;
  margin: 4px;
  font-size: 1.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f4f4f4;
  cursor: pointer;
}

input[type="reset"] {
  width: 21%;
  padding: 10px;
  margin: 5px;
  font-size: 1.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f4f4f4;
  cursor: pointer;
}
    
